@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}